{% extends "index.html" %}
{% load static %} 


 {% block main_content %}

 

<section id="hero">
  <h4></h4>
  <h2>Algiers Library</h2>
  <h1>Find All Kind of Books </h1>
  <h5>large collection of Books to cater all the reading needs of all knds of readers</h5>
  <form action="/books" method="GET">
    {% csrf_token %}
    <button type="submit">Our Library </button>
  </form>

</section>
<section id="product1" class="section-p1" >
  <h2>Trending</h2>
  <p>Enjoy the Reading </p>
  <div class="pro-container">
   
    {% for book in books %} 
    
      <div class="pro">
        <img src="{{book.image}}" alt="{{book.author}}">
          <div class="des">
              
              <h5>{{book.title}}</h5>
              <h4>{{book.score}}</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      
      {% endfor %}
  </div>
</section>


<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sign Up for Newsletters</h4>
      <p>get E-mail updates about our 
        latest shop and<span> spesial offers</span></p>
  </div>
  <div class="from">
      <input type="text" placeholder="Your e-mail address">
      <button class="normal" >Sign Up</button>    
  </div>
</section>


 {% endblock %}
